/* Header and Navigation
================================================== */

.header {
  color: #fafafa;
  h1, .screen_reader_text {
    position: absolute;
    text-indent: -99999999px;
  }
  a {
    color: #f00;
  }
  .header_border {
    border-bottom: 1px solid #f00;
  }
  .new_clients,
  .sign_up {
    padding-top: 5rem;
    text-align: center;
  }
  .social_media {
    padding-top: .5rem;
    text-align: right;
    p {
      margin: .5rem 0 0 0;
    }
    .facebook_icon {
      margin-left: .5rem;
      width: 24px;
    }
  }
}

.main_navigation {
  margin-bottom: 1rem;
  text-align: left;
  ul {
    margin: 1rem 0 0;
    padding-left: 0;
    position: relative;
  }
  li {
    font-size: 1.8rem;
    display: inline-block;
    padding: .5rem 1.5rem 0 0;
  }
  a {
    color: #999;
  }
  li a:hover {
    color: #fff;
  }
  ul li:hover ul {
    display: block;
  }
  ul ul {
    background: #222;
    display: none;
    position: absolute;
    top: 1.5rem;
    width: auto;
    z-index: 9;
    li {
      display: block;
      font-size: 1.6rem;
      padding-left: 1rem;
    }
  }
}


/* Buttons */
.menu-toggle {
}

.menu-toggle {
	cursor: pointer;
}

.menu-toggle:hover {
}

.menu-toggle:active,
.menu-toggle.toggled-on {
}

/* Assistive text */
.assistive-text,
.site .screen-reader-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
}
.main-navigation .assistive-text:hover,
.main-navigation .assistive-text:active,
.main-navigation .assistive-text:focus {
	background: #fff;
	border: 2px solid #333;
	border-radius: 3px;
	clip: auto !important;
	color: #000;
	display: block;
	font-size: 12px;
	padding: 12px;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 100000; /* Above WP toolbar */
}

.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
	display: none;
}
.main-navigation ul.nav-menu.toggled-on,
.menu-toggle {
	display: inline-block;
}


/* =Media queries
-------------------------------------------------------------- */

/* Minimum width of 600 pixels. */
@media screen and (min-width: 600px) {
	.main-navigation ul.nav-menu,
	.main-navigation div.nav-menu > ul {
		display: inline-block !important;
	}
	.main-navigation ul {
	}
	.main-navigation li a,
	.main-navigation li {
		display: inline-block;
	}
	.main-navigation li a {
	}
	.main-navigation li a:hover {
	}
	.main-navigation li {
		position: relative;
	}
	.main-navigation li ul {
		display: none;
		padding: 0;
		position: absolute;
		top: 100%;
		z-index: 1;
	}
	.main-navigation li ul ul {
		top: 0;
		left: 100%;
	}
	.main-navigation ul li:hover > ul {
		display: block;
	}
	.main-navigation li ul li a {
		display: block;
	}
	.main-navigation li ul li a:hover {
	}
	.main-navigation .current-menu-item > a,
	.main-navigation .current-menu-ancestor > a,
	.main-navigation .current_page_item > a,
	.main-navigation .current_page_ancestor > a {
	}
	.menu-toggle {
		display: none;
	}
}

/* Minimum width of 960 pixels. */
@media screen and (min-width: 960px) {
}


